<div class="row nav-bar">
  <div class="col-xs-4">
    <a routerLink="home" routerLinkActive="active">
      <i class="material-icons md-48">feedback</i>
      <p>Welcome</p>
    </a>
  </div>

  <div class="col-xs-4">
    <a routerLink="user" routerLinkActive="active">
      <i class="material-icons md-48">face</i>
      <p>Users</p>
    </a>
  </div>

  <div class="col-xs-4">
    <a routerLink="user-task" routerLinkActive="active">
      <i class="material-icons md-48">assignment</i>
      <p>User Tasks</p>
    </a>
  </div>

</div>
