    <div class="action-bar">
      <h2 class="title" *ngIf="!user.id">New User</h2>

      <h2 class="title" *ngIf="user.id">
        Edit User - Id {{user.id}}
      </h2>

      <a routerLink="../../user"  title="Back to list">
        <i class="material-icons md-36">list</i>
      </a>
      <a (click)="save()" title="Save changes">
          <i class="material-icons md-36">save</i>
      </a>

    </div>

    <div class="form-content">


        <form *ngIf="user">


            <div class="form-group">
                <label>Name:</label>
                <input [(ngModel)]="user.name" name="name" class="form-control">
            </div>


        </form>

      <p class="alert" *ngIf="errors">{{ errors }}</p>

    </div>
