<div class="action-bar">

  <h2 class="title">User Tasks</h2>

  <a [routerLink]="['../user-task','new']">
    <i class="material-icons md-36">add</i>
  </a>

  <select name="user" [(ngModel)]="filter.user" (change)="search()" class="form-control">
    <option [value]="null">All Users</option>
    <option *ngFor="let item of userList" [value]="item.id">{{item.name}}</option>
  </select>

</div>


    <div class="card" *ngIf="userTaskList.length > 0">

      <table class="table table-contensed" >
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>State</th>
            <th>User</th>
          <th></th>
        </tr>
        </thead>
        <tr *ngFor="let item of userTaskList" [class.active]="item === selectedUserTask">
            <td>{{item.id}}</td>
            <td>{{item.description}}</td>
            <td>{{item.state == 'TO_DO' ? 'To do': 'Done' }}</td>
            <td>{{item.user.name}}</td>
           <td class="text-right">

              <button type="button" class="btn btn-primary"><a [routerLink]="['../user-task', item.id ]">Edit</a> </button>
                <!--a (click)="select(item)">Select</a-->
            </td>
        </tr>
      </table>

    </div>
