<div class="card">

      <div class="header">
        <h2 class="title">Users</h2>
      </div>
      <div class="content">

        <form #f="ngForm">

          <div class="form-group">
            <a [routerLink]="['../user','new']" class="btn btn-default">
                New
            </a>

          </div>

        </form>

      </div>
    </div>

    <div class="card" *ngIf="userList.length > 0">

      <table class="table table-contensed" >
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tr *ngFor="let item of userList" [class.active]="item === selectedUser">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>
                <button type="button"><a [routerLink]="['../user', item.id ]">Details</a> </button>
                <button type="button"  (click)="delete(item)"><a >Delete</a></button>
            </td>
        </tr>
      </table>

    </div>
