<div class="action-bar">
  <h2 class="title" *ngIf="!userTask.id">New Task</h2>

  <h2 class="title" *ngIf="userTask.id">
    Edit Task - Id {{userTask.id}}
  </h2>

  <a (click)="save()">
    <i class="material-icons md-36">save</i>
  </a>

</div>

    <div class="form-content">



        <form *ngIf="userTask">

            <div class="form-group">
                <label>Name:</label>
                <input [(ngModel)]="userTask.description" name="description" class="form-control">
            </div>

          <div class="form-group">
            <label>state:</label>
            <select name="state" [(ngModel)]="userTask.state"name="state"  class="form-control">
              <option value ="TO_DO" ng-selected="userTask.state == 'TO_DO'">To do</option>
              <option value ="DONE" ng-selected="userTask.state == 'DONE'">Done</option>
            </select>
          </div>

            <div class="form-group">
                <label>User:</label>
                  <select name="user" [(ngModel)]="userTask.userId"  class="form-control">
                    <option *ngFor="let item of userList" [value]="item.id">{{item.name}}</option>
                  </select>

            </div>

        </form>


      <p class="alert" *ngIf="errors">{{ errors }}</p>

    </div>

