<div *ngIf="userTask">
  <ng-form (ngSubmit)="onSubmit()">
  <h2>{{userTask.description | uppercase}} Details</h2>
  <div><span>id: </span>{{userTask.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="userTask.description" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>state:
      <input [(ngModel)]="userTask.state" placeholder="state"/>
    </label>
  </div>
  <div>
    <label>user:
      <input [(ngModel)]="userTask.user" placeholder="user"/>
    </label>
  </div>
  </ng-form>
</div>
