<div class="card">
  <div class="header">
    <h1 class="title">Welcome {{userName}}</h1>
  </div>
  <div class="content">
    <p>At Rose Global we are creating a new MVP, this new platform must be scalable and flexible to support our continuous growth. We want to implement a micro-service architecture and the first part of the project is to develop a to-do web app with two sets of REST endpoints and the UI to display the data:
    </p><p>
    USERS CRUD<br/>
    USER’s TASKS CRUD<br/>
  </p><p>
    The user’s model would look like this:<br/>
  </p><p>
    <strong>USERS</strong><br/>
    Id<br/>
    Name<br/>
  </p><p>
    The user tasks model would look like this:<br/>
  </p><p>
    <strong>USER_TASKS</strong><br/>
    Id<br/>
    description<br/>
    state (to do, done)<br/>
    user_id<br/>
  </p>
    <p>
    The requirements of this test you would need to implement to complete the technical test are:<br/><br/> </p>
    <strong>Frontend:</strong><br/>
    <ul>
    <li>It must have a view to list the users.</li>
    <li>It must have an option to update the users.</li>
    <li>It must have an option to delete the users.</li>
    <li>In the user's list, you must be able to select a single user and list its tasks</li>
    <li>It must have an option to create tasks.</li>
    <li>It must have an option to update tasks.</li>
    <li> You may use whatever framework you wish (Angular, React, Vue or etc). <span style="color:red; font-weight: bold">Angular </span> </li>
  </ul>

  <p>
    Backend:<br/> </p>
    <ul>
      <li>The micro-services architecture must be well defined</li>
      <li>The endpoints should be a REST API.  <span style="color:red; font-weight: bold">Api definition in <a target="_blank" href="http://langelicajr.pythonanywhere.com">http://langelicajr.pythonanywhere.com</a> .
        Also admin available in <a target="_blank" href="http://langelicajr.pythonanywhere.com/admin">http://langelicajr.pythonanywhere.com/admin</a>. User langelicajr Password 123456789</span></li>
      <li>You can use whatever framework, the language that you are comfortable with.  <span style="color:red; font-weight: bold">Django</span></li>
      <li>You can use any DB that you want or use a DBaaS.  <span style="color:red; font-weight: bold">sqlite3</span></li>
  </ul>
 <p>To evaluate the technical test we need:<br/>  </p>
    <ul>

      <li>The code in a public repository like GitHub.
        <span style="color:red;font-weight: bold">Repos in <a target="_blank" href="https://github.com/aikiangie/rose_global_torre_test_be">https://github.com/aikiangie/rose_global_torre_test_be</a>  and
        <a target="_blank" href="https://github.com/aikiangie/rose_global_torre_test_fe">https://github.com/aikiangie/rose_global_torre_test_fe</a></span></li>
      <li>Live server running.  <span style="color:red; font-weight: bold">Running in <a target="_blank" href="http://68.169.48.217:8080/"/>http://68.169.48.217:8080/</span></li>
    <li>Please add a block diagram to represent the architecture.</li>
    <li>A Read me file explaining how to run to tests and the servers</li>
  </ul>

    <p>
    Rember:<br/>
    This test is to be done within a day so you must plan your work.
    We will focus on testing how you organize the code and the structure of the architecture.<br/>

  </p>
  </div>

</div>


