<div class="card">
  <div class="header">
    <h1 class="title">Technical Test Full-Stack Engineering</h1>
  </div>
  <div class="content">
    <h2>Rose Global MVP</h2>
    <h3>This application allows to manage users and tasks. It has been built using Django and Angular.</h3>
    <br/>
      <ul>
        <li> <h4> <a href="https://docs.google.com/document/d/1woqV3ErpnoWKCKmENW41eEfa7-PVO_yk5aiJHxu_l4U" target="_blank">Requirements</a></h4></li>
        <li> <h4> <a href="https://github.com/aikiangie/rose_global_torre_test_be/" target="_blank">Backend repository</a></h4></li>
        <li> <h4> <a href="https://github.com/aikiangie/rose_global_torre_test_fe/" target="_blank">Frontend repository</a></h4></li>
      </ul>

  </div>

</div>


