<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
        <!--img src="../../assets/img/angular2-logo.png" alt=""-->
      </div>
      Frontend for Rose Global MVP
    </a>
  </div>
  <ul class="nav">
    <li>
      <a routerLink="home">
        <i class="ti-home"></i>
        <p>Home</p>
      </a>
    </li>
    <li>
      <a routerLink="user">
        <i class="ti-arrow-top-right"></i>
        <p>Users</p>
      </a>
    </li>

    <li>
      <a routerLink="user-task">
        <i class="ti-arrow-top-right"></i>
        <p>Tasks</p>
      </a>
    </li>


  </ul>
</div>
